{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}

     <h1>Agrega productos nuevos</h1>

     <form action="{% url 'form_productos' %}" method="POST"> {% csrf_token %}
     
        <p>Nombre: <input type="text" name="nombre" /> </p>
        
        <p>Descripcion: <input type="text" name="descripcion" /> </p>
        
        <p>Precio: <input type="number" name="precio" /> </p>
        

        <input type="submit" value="Enviar"/>

     </form>

    
{% endblock contenidoQueCambia %}

