{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
<h1 style="color: red;" ><center>
   <h1> {{mensaje_no_pagina}} </h1>
</center>
</li>

<h4 style="color:  rgb(174, 219, 167);">{{mensaje}}</p> 
<br><br><br><br><br>
<h3 style="color: rgba(255, 255, 255, 0.594);"> 
    Bienvenido, somos Cafe CODER un lugar nuevo y divrtido para  sentarte a tomar un buen cafe especialidad mientras estudias o 
    conversas con tus amigos, o tal vez estas buscando un lugar para comprar el mejor 
    cafe para prepartartlo tu mismo en tu hogar,
    Cafe CODER consta con decenas de diferentes tipos de <b> <i> "roasts" </i> </b> para todos tus gustos. 
</h3 align="left" char=".">
<center>
    <img src="{% static 'imagenes/coffee-beans-2258831_1920.jpg'%}" alt="" >

    <!-- <img src="{% static 'imagenes/cafe-1869656_1920.jpg'%}" alt="" height="600" width="1200"> -->
</center>
<br>
<br>
<br>
<br>

<br>
  <br>
  <br>
  <br>
<img src="{% static 'imagenes/cafe-1869656_1920.jpg'%}" alt="" height="600" width="1200"> <img src="{% static 'imagenes/coffee-shop-393954_1920.jpg'%}" alt="">

{% endblock contenidoQueCambia %}

