{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
    <h1 style="color: rgb(210, 206, 206);">Vista inicio</h1>

    <!-- <img src="{% static 'imagenes/coffecup.jpg'%}" alt=""> -->
  
    <p style="color:  rgb(210, 206, 206);">{{mensaje}}</p> 
    <p style="color:  rgb(210, 206, 206);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo perspiciatis saepe beatae! Sint quisquam ipsa sit aut voluptatum suscipit quidem repellendus nobis possimus! Iste accusantium rem reprehenderit est, fugiat recusandae!</p>
{% endblock contenidoQueCambia %}

