<title>Productos - CafeCoder</title>


{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
    <center style="color: rgb(189, 184, 184);">  <h1> <i> <u> Productos </u></i></h1> </center>
    <center>
    <ul style="color: rgb(255, 255, 255);">
        {% for Producto in lista_productos %}
        <a href="{% url 'DetallesProductos' Producto.id%}">

        <table>{{Producto.nombre}} - {{Producto.descripcion}} - ${{Producto.precio}} -
         <form style="color: rgb(232, 230, 230);"  action="{% url 'eliminar_producto' Producto.id %}" method="POST"> {% csrf_token %}

            <button> Eliminar </button>
        </table>  

         </form>

         <button>
            <a href="{% url 'editar_prducto' Producto.id %}" > Editar</a>
        </button>
        <div>
      
        

    {% endfor %}
     </ul>
    </center>
{% endblock contenidoQueCambia %}

