<title>Productos - CafeCoder</title>


{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
    <center style="color: rgb(189, 184, 184);">  <h1> <i> <u> Productos </u></i></h1> </center>
    <center>
    <ul style="color: rgb(255, 255, 255);">
        {% for Producto in lista_productos %}
        <a href="{% url 'DetallesProductos' Producto.id%}">

        <tr>{{Producto.nombre}} - {{Producto.descripcion}} - ${{Producto.precio}} 
         <form style="color: rgb(232, 230, 230);"  action="{% url 'eliminar_producto' Producto.id %}" method="POST"> {% csrf_token %}

            


            {% if request.user.is_superuser %}
                            
            <button> Eliminar </button>
            {% endif %}
        </tr>  


         </form>

            
            {% if request.user.is_superuser  %}
                
            
            <button>
                <a href="{% url 'editar_prducto' Producto.id %}" > Editar</a>
            </button>
            {% endif %}
        <div>
      
           


    {% endfor %}
    


</ul>
    </center>
<center>
            <img src="{% static 'imagenes/Flat-White.png'%}" width="300" height="300" alt="" >
            <img src="{% static 'imagenes/espresso.jpg'%}" alt="" width="300" height="300" >
            <img src="{% static 'imagenes/rissteto.jpg'%}" alt=""  width="300" height="300">
            <img src="{% static 'imagenes/capucchinoayy.webp'%}" alt=""  width="300" height="300">

      </center>

{% endblock contenidoQueCambia %}

