{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}
<h1 style="color: red;" ><center>
   <h1> {{mensaje_no_pagina}} </h1>
</center>

    <center> <h1 style="color: rgb(177, 226, 210);">  <i>   <img src="{% static 'imagenes/coffecup.jpg'%}" alt=""height="60" width="60" > Café CODER   <img src="{% static 'imagenes/coffecup.jpg'%}" alt=""height="60" width="60" ></i> </h1>  </center>
    
<br><br>

    <div class="container">
       
        
    <p3 style="color: rgba(255, 255, 255, 0.594);">  
        <img src="{% static 'imagenes/coffee_shop_sign.jpg' %}" alt="" height="600" width="800" float="left">
        Café CODER  surgido de una idea de la nada y con muchos sueños e ilusión
    lleva varios años ya en funcionamiento como una empresa y tienda familiar que se dedica
    a que ustedes amantes del café puedan tener el mejor café en nuestro local o se pueden llevar los mejores
    granos o molidas para hacer el café a su modo, contamos con varios años de experiencia colectiva y con ganas de seguir creciendo.

    Gracias a la perseverancia y el amor de nuestros clientes le traemos lo mejor para usted casa dia.
    <br> <br>
    Página creada por Facundo Hernandez...
</p3>        
</div>

    
<center>
    <img src="{% static 'imagenes/Coffee-Shop-1024x765.jpg'%}" alt="" >

</center>
<br>
<br>
<br>
<br>

<br>
  <br>
  <br>
  <br>
{% endblock contenidoQueCambia %}

