{% extends 'padre.html' %}

{% load static %}


{% block contenidoQueCambia %}



<p style="color: rgb(232, 230, 230);">La oren es:</p>


<li style="color: rgb(232, 230, 230);"><b>Nombre: </b> {{Order.nombre_cliente}}</li>
<li style="color: rgb(232, 230, 230);"><b>Apellido: </b>{{Order.apellido_cliente}}</li>
<li style="color: rgb(232, 230, 230);"><b>email: </b>{{Order.email_cliente}}</li>
<li style="color: rgb(232, 230, 230);"><b>Items: </b>{{Order.items_cliente}}</li>
<li style="color: rgb(232, 230, 230);"><b>Precio: $</b>{{Order.precio_total}}</li>





{% endblock contenidoQueCambia %}

